
.buddycloud{

}
.buddycloud input{
width:100%;
}
.buddycloud .item{
border:1px solid lightgrey;
background-color:white;
width:100%;
margin:0px;
margin-top:20px;
position:relative;

}
.buddycloud  textarea{
width:100%;
height:60px;
display:block;
margin:10px;
margin-top:0px;
margin-left:0px;
}
.buddycloud  input{
width:100%;
height:30px;
display:block;
margin:10px;
margin-top:0px;
margin-left:0px;
}




.buddycloud .item img{
margin:10px;
height:40px;
position:absolute;
}
.buddycloud .item .person{
padding:5px;
margin-left:50px;
margin-top:3px;
}
.buddycloud .item .name{
font-weight:bold;
color:blue;
line-height:12px;
display:block;
cursor:pointer;
}
.buddycloud .item .date{
color:grey;
font-size:10px;
line-height:10px;
}
.buddycloud .item .like{
color:blue;
margin-bottom:10px;
padding:10px;
}
.buddycloud .item .content{
margin-top:0px;
margin-bottom:0px;
padding-left:10px;
}

.buddycloud .item .subitem{
background-color:#f4f4f4;
padding:2px;
position:relative;
}
.buddycloud .item .subitem img{
height:30px;
position:absolute;
top:0px;
left:5px;
margin-right:5px;
}

.buddycloud .item .subitem .person{
margin-left:50px;
}
.buddycloud .item  .tool{
display:none;
cursor:pointer;
margin-right:5px;
}
.buddycloud .item:hover .tool{
color:gray;
font-weight:bold;
font-size:15px;
display:block;
}

.buddycloud .item .subitem  .tool{
display:none;
cursor:pointer;
}
.buddycloud .item .subitem:hover .tool{
color:gray;
font-weight:bold;
font-size:15px;
display:block;
}


