body{
background-color:#efefef;
}


#buddycloud{
margin-left:150px;
}
#buddycloud input{
width:500px;
}
#buddycloud .item{
border:1px solid lightgrey;
background-color:white;
width:500px;
margin:0px;
margin-top:20px;
position:relative;

}
#buddycloud .item input{
width:400px;
}
#buddycloud .item img{
margin:10px;
height:40px;
}
#buddycloud .item .person{
position:absolute;
top:7px;
left:54px;
padding:10px;
}
#buddycloud .item .name{
font-weight:bold;
color:blue;
line-height:12px;
display:block;
}
#buddycloud .item .date{
color:grey;
font-size:10px;
line-height:10px;
}
#buddycloud .item .like{
color:blue;
margin-bottom:10px;
padding:10px;
}
#buddycloud .item .content{
margin-top:10px;
margin-bottom:10px;
padding:10px;
}

#buddycloud .item .subitem{
background-color:#f4f4f4;
padding:2px;
position:relative;
}
#buddycloud .item .subitem img{
height:30px;

top:5px;
left:5px;
margin-right:5px;
}

#buddycloud .item .subitem .person{
margin-left:5px;
}
#buddycloud .item  .delete{
display:none;
cursor:pointer;
}
#buddycloud .item:hover .delete{
color:gray;
font-weight:bold;
font-size:25px;
position:absolute;
left:470px;
top:4px;
display:block;
}

#buddycloud .item .subitem  .delete{
display:none;
cursor:pointer;
}
#buddycloud .item .subitem:hover .delete{
color:gray;
font-weight:bold;
font-size:25px;
position:absolute;
left:410px;
top:4px;
display:block;
}


.roster{
position:fixed;
top:00px;
right:10px;
bottom:00px;
border-left:1px solid lightgrey;
width:200px;
overflow:auto;
}
.roster table{
width:100%;
}
.roster tr{
border-top:1px solid rgba(0,0,0,0);
border-bottom:1px solid rgba(0,0,0,0);
}
.roster tr:hover{
background-color:#efefef;
border-top-color:lightgrey;
border-bottom-color:lightgrey;
}
.roster td{
padding:2px;
margin:0px;
font-size:10px;

}
.roster td:first-child{
width:10px;
}
.roster td p{
font-size:15px;
margin:0px;
}
.roster td img{
border:1px solid lightgrey;
}


#bottomchat{
position:fixed;
bottom:0px;
width:100%;
text-align:right;
padding-right:240px;
}

#bottomchat .minichat{
display:inline-block;
border:1px solid lightgrey;
text-align:left;
padding:0px;
margin-left:4px;
border-top-right-radius:5px;
border-top-left-radius:5px;
position:relative;
}
#bottomchat .minichat .min{
width:100px;
background-color:lightblue;
padding-left:4px;
color:white;
}
#bottomchat .minichat .title{
background-color:lightblue;
border-top-right-radius:4px;
border-top-left-radius:4px;
}
#bottomchat .minichat .title p{
font-size:20px;
margin:0px;
margin-left:4px;
color:white;
width:250px;
}
#bottomchat .minichat  .close{
position:absolute;
top:2px;
right:4px;
}
#bottomchat .minichat .messages{
padding:4px;
height:100px;
overflow:auto;
}
#bottomchat .minichat .messages img{
padding:2px;
height:25px;
width:25px;
}
#bottomchat .minichat input{
width:100%;
border:1px solid lightgrey;
}

