<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#" ng-click="open({name:'',node:'recent'})">Jabberworld</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">


         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <span class="glyphicon glyphicon-inbox" aria-hidden="true"></span>
            <span ng-show="unreadmessages">({{unreadmessages}})</span>
            <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li ng-repeat="message in messages"><a href="#" ng-click="openchat(message[0].from.jid)">
            <img ng-src="icons/avatars/{{message[0].from.user}}.png" style="height:20px"/>
            {{message[0].from.jid}} ({{message.length}})<br/>
            <span style="font-size:9px">{{message[0].content}}</span>
            </a></li>
          </ul>
        </li>

         <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">

            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            <span ng-show="friendrequests">({{friendrequests}})</span>
            <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>



        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">


{{jid.user}}@{{jid.domain}}
<img  ng-src="icons/avatars/{{jid.user}}.png" style="width:30px;margin:-5px;margin-left:5px" />



<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">

           <li><a href="#">Settings</a></li>
            <li><a href="#">Friends</a></li>
            <li><a href="#">Pages</a></li>
            <li class="divider"></li>
            <li><a href="#" ng-click="logout()">Logout</a></li>
 
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
