<!-- roster - the online users und friends -->
<div class="roster" g-show="connected">
<h4>Online Contacts</h4>
<table >
<tr ng-if="user.presence" ng-repeat="user in roster" ng-click="openchat(user)">
<td>
<img ng-src="icons/avatars/{{user.name}}.png" style="height:40px"/>
</td>
<td>
<p>{{user.name}}</p>
<p>{{user.presence.status}}</p>
</td></tr></table>
<h4>Add JID</h4>
<form ng-submit="addjid()">
<input ng-model="newjid"/>
</form>
<h4>Complete Roster</h4>
<table >
<tr g-if="user.subscription=='none' || user.subscription=='from'" ng-repeat="user in roster" ng-click="allow(user)"><td>
<img ng-src="icons/avatars/{{user.name}}.png" style="height:40px"/>
</td>
<td>
<p>{{user.name}}</p>
{{user.presence.status}}
<p>{{user.subscription}}</p>
</td></tr></table>
</div>
