<!DOCTYPE html>
<html ng-app="Xmpp">
<head>
<meta charset="utf-8"/>
<script src="https://laos.buddycloud.com/scripts/primus/primus.js" type="text/javascript"></script>
<script data-require="angular.js@*" data-semver="1.3.7" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.7/angular.js"></script>
<script data-require="underscore.js@*" data-semver="1.6.0" src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular-strap/2.1.2/angular-strap.tpl.min.js"></script>

<link rel="stylesheet" href="css/style.css">
<script src="js/script.js"></script>
</head>
<body ng-controller="Roster">


<h2>Buddycloud</h2>
What's up?
<div  id="buddycloud">
<form ng-submit="publish()">
<input ng-model="newtopic" placeholder="What's going on" >
</form>


<div  ng-repeat="item in tree | orderBy:'-entry.atom.published'" class="item">
<img  ng-src="icons/avatars/{{item.entry.atom.author.image}}.png" />
<div class="person">
<span class="name">{{item.entry.atom.author.name}}</span>
<span class="date">{{item.entry.atom.published | date:'medium'}}</span>
<span class="date">{{item.entry.atom.published}}</span>

</div>
<div class="content">
{{item.entry.atom.content.content}}
</div>
<span class="like">like . share</span>
<br/>
<div ng-repeat="subitem in item.nodes" class="subitem">
    <img  ng-src="icons/avatars/{{item.entry.atom.author.image}}.png" />
    <div class="person">
    <span class="name">{{item.entry.atom.author.name}}</span>
    {{subitem.entry.atom.content.content}}

    <span class="date">{{item.entry.atom.published | date:'medium'}}</span>
    <span class="close" ng-click="removeitem(subitem.entry.atom.id)">×</span>
    </div>
</div>
<form ng-submit="publish(item.entry.atom.id)">
<img  ng-src="icons/avatars/{{username}}.png" style="height:30px"/>
<input ng-model="newitems[item.entry.atom.id]" style="margin-left:20px"/>
</form>
</div>
</div>



<div class="roster">
<table >
<tr ng-if="user.presence" ng-repeat="user in roster" ng-click="open(user)"><td>
<img ng-src="icons/avatars/{{user.name}}.png" style="height:40px"/>
</td>
<td>
<p>{{user.name}}</p>
{{user.presence.status}}
</td></tr></table>
</div>


<div id="bottomchat" >
  <div class="minichat" ng-if="user.opened" ng-repeat="user in roster" title="{{ user.name }}"  >
    <div ng-if="user.opened=='max'">
        <div class="title" ng-click="minify(user)"><p>{{user.name}}</p><span class="close" ng-click="close(user)">×</span></div>
            <div class="messages">
                <div ng-repeat="message in user.messages">
                <img ng-if="message.from" ng-src="icons/avatars/{{message.from.user}}.png" />
                <img ng-if="!message.from" ng-src="icons/avatars/{{username}}.png" />
                {{message.content}}
                </div>
            <div id="bottom_{{user.name}}"> </div>
            </div>

        <form ng-submit="send(user)">
        <input ng-model="user.newtext"/>
        </form>
      </div>
    <div ng-if="user.opened=='min'" ng-click="open(user)" class="min">
    {{user.name}}<span class="close" ng-click="close(user)">×</span>
    </div>
    </div>
</div>

</body>

</html>
