
<div ng-show="connected"  class="buddycloud" >

<!--
<form ng-submit="create()">
<input ng-model="newnode" placeholder="What's going on" >
</form>
-->
<br/>

<div ng-if="node!='recent'">
<button ng-click="subscribe()">subscribe</button>
<button ng-click="unsubscribe()">unsubscribe</button>
<button clall="pull-right">add Friend</button>
<br/>
</div>
<br/>
<form ng-submit="publish()">
<textarea ng-model="newtopic" placeholder="What's going on" ></textarea>
<input ng-show="newtopic" type="submit"/>
</form>



<div  ng-repeat="item in tree |toArray|orderBy:'-entry.atom.published' " class="item">
<img  ng-src="icons/avatars/{{item.entry.atom.author.image}}.png" />
<div class="person">
<span class="name">
<span ng-click="opennode(item.entry.atom.author.name)">{{item.entry.atom.author.name}}</span>
<span ng-click="opennode(item.nodeowner)" ng-show="item.entry.atom.author.name!=item.nodeowner && node=='recent'"> → {{item.nodeowner}}</span>
</span>
<span class="date">{{item.entry.atom.published | date:'medium'}}</span>

</div>
    <span class="delete" ng-click="removeitem(item.entry.atom.id)">×</span>
<div class="content">
{{item.entry.atom.content.content}}
</div>
<span class="like">like . share</span>
<br/>
<div ng-repeat="subitem in item.nodes|toArray|orderBy:'entry.atom.published'" class="subitem">
    <img  ng-src="icons/avatars/{{subitem.entry.atom.author.image}}.png" />
    <div class="person">
    <span class="name" ng-click="opennode(subitem.entry.atom.author.name)">{{subitem.entry.atom.author.name}}</span>
    {{subitem.entry.atom.content.content}}

    <span class="date">{{subitem.entry.atom.published | date:'medium'}}</span>
    <span class="delete" ng-click="removeitem(subitem.entry.atom.id)">×</span>
    </div>
</div>
<form ng-submit="publish(item.entry.atom.id)" class="subitem">
<img  ng-src="icons/avatars/{{jid.local}}.png" />
    <div class="person">
<input ng-model="newitems[item.entry.atom.id]" />
</div>
</form>
</div>
</div>

