   <div ng-repeat="(key,node) in bc.data.affiliations[bc.data.currentnode]" ng-init="x.max=12">
    <p>{{key}}  <span >({{node.length}})</span></p>

    <div class="btn-group dropdown"  dropdown  ng-repeat="item in node" is-open="status.isOpen" ng-if="$index<x.max" >
        <div style="margin-bottom:10px" class="list dropdown-toggle avatar" ng-click="item.isOpen=true" role="button"  dropdown-toggle avatar="item.jid" title="{{item.jid.user+'@'+item.jid.domain}}"></div>


        <ul class="dropdown-menu" dropdown-menu role="menu">
            <li><a ng-href ng-click="opennode({'node':'/user/'+item.jid.user+'@'+item.jid.domain+'/posts'})">Open Node</a>
            </li>
            <li><a ng-href ng-click="openchat(item.jid.user+'@'+item.jid.domain)">Open Chat</a>
            </li>
            </li>
            <li ng-if="bc.affiliation"><a ng-href ng-click="bc.affiliation(item.jid.user+'@'+item.jid.domain,'publisher')">Make publisher</a>
            </li>
            <li ng-if="bc.affiliation"><a ng-href ng-click="bc.affiliation(item.jid.user+'@'+item.jid.domain,'member')">Make readonly</a>
            </li>

            <li ng-if="bc.affiliation" class="divider"></li>
            <li ng-if="bc.affiliation"><a ng-href ng-click="bc.affiliation(item.jid.user+'@'+item.jid.domain,'outcast')">Block user</a>
        </ul>
    </div>
    <br/>
    <button class="btn btn-default btn-xs" ng-if="x.max<node.length" ng-click="x.max=x.max+48">show more</button>

</div>

