<form ng-show="!connected" class="loginform"  ng-submit="login()">{{connected}}
<table>
<tr><td>username</td><td><input ng-model="username"/></td></tr>
<tr><td>password</td><td><input type="password" ng-model="password"/></td></tr>
<tr><td>remember</td><td><input type="checkbox" ng-model="autologin"/></td></tr>
<tr><td>register</td><td><input type="checkbox" ng-model="register"/></td></tr>
<tr><td></td><td>
<input type="submit" value="login"/>
</td></tr>
</table>
<hr/>
<h5>testaccounts</h5>
username:eva,arni,seppl,maria,bill<br/>
password:bbb
</form>
