.roster table{
width:200px;
}
.roster tr{
border-top:1px solid rgba(0,0,0,0);
border-bottom:1px solid rgba(0,0,0,0);
cursor:pointer;
}
.roster tr:hover{
background-color:#efefef;
border-top-color:lightgrey;
border-bottom-color:lightgrey;
}
.roster td{
padding:0px;
margin:0px;
font-size:10px;

}
.roster td:first-child{
width:10px;
}
.roster td p{
font-size:15px;
margin:0px;
}
.roster td img{
border:1px solid lightgrey;
}

