<!-- roster - the online users und friends -->
<div class="roster" g-show="connected">
<h4>Online Contacts</h4>


<table >
<tr ng-if="user.presence" ng-repeat="user in xmpp.roster" ng-click="xmpp.openchat(user)">
<td>
<img ng-src="assets/icons/avatars/{{user.jid.user}}.png" style="height:40px"/>
</td>
<td>
<p ng-if="!user.name">{{user.jid.user}}</p>
<p ng-if="user.name">{{user.name}}</p>
<p>{{user.presence.status}}</p>
</td></tr></table>


<h4>Add JID</h4>
<form ng-submit="xmpp.addContact(newjid)">
<input ng-model="newjid"/>
</form>
<br/>
<br/>
<button class="btn btn-small btn-default" ng-click="offlineusers=!offlineusers">
<span ng-show="!offlineusers">show </span>
<span ng-show="offlineusers">hide </span>
<br/>
offline contacts</button>
<table ng-if="offlineusers">
<tr g-if="user.subscription=='none' || user.subscription=='from'" ng-repeat="user in xmpp.roster" ng-click="xmpp.openchat(user)"><td>
<img ng-src="assets/icons/avatars/{{user.name}}.png" style="height:40px"/>
</td>
<td>
<p>{{user.name}}</p>
{{user.presence.status}}
<p>{{user.subscription}}</p>
</td></tr></table>
</div>
