<!--
Bootstrap navigation dropdown
-->


<a ng-if="!xmpp.data.me"  ng-href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Login <span class="caret"></span></a>
<a ng-if="xmpp.data.me" ng-href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
    <div class="avatar" style="margin:-5px;margin-right:4px;display:inline-block" avatar="xmpp.data.me.jid"></div>
    {{xmpp.data.me.jid.user}}<span class="caret"></span>
</a>



<div class="dropdown-menu " ng-show="!xmpp.data.me.jid || xmpp.data.anonymous">
    <xmpplogin  defaultdomain="laos.buddycloud.com"></xmpplogin>
</div>
<ulv class="dropdown-menu "   ng-show="xmpp.data.me.jid && !xmpp.data.anonymous">
    <li><a>Settings</a></li>
    <li ng-click="logout()"><a>logout</a></li>
    </ul>
<!--
        <li class="dropdown">
          <a ng-href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <div class="avatar" avatar="xmpp.data.me.jid"></div>
            Login {{xmpp.data.me.jid.user}} <span class="caret"></span></a>
            <div class="dropdown-menu" style="padding:17px;width:300px">
                <xmpplogin defaultdomain="laos.buddycloud.com"></xmpplogin>
            </div>
        </li>
-->
</div>

