<!-- Left side, Avatar of node, list of nodes -->
<div class="leftcol">

<img  ng-if="selectednode.name" ng-src="icons/avatars/{{selectednode.name}}.png" style="width:140px;margin:5px;" />

<div style="font-size:7px">{{selectednode.node}}</div>


<h4 ng-click="showcontacts=!showcontacts"><span ng-if="showcontacts" class="closed">▸ </span><span  ng-if="!showcontacts" class="open">▼ </span>Online Contacts</h4>
<table ng-if="!showcontacts">
<tr ng-if="user.presence" ng-repeat="user in roster" ng-click="openchat(user.jid.user+'@'+user.jid.domain)">
<td>
<img ng-src="icons/avatars/{{user.jid.user}}.png" style="height:40px"/>
</td>
<td>
<p ng-if="!user.name">{{user.jid.user}}</p>
<p ng-if="user.name">{{user.name}}</p>
<p>{{user.presence.status}}</p>
</td></tr></table>




<h4 ng-click="hidestreams=!hidestreams"><span ng-if="hidestreams" class="closed">▸ </span><span  ng-if="!hidestreams" class="open">▼ </span>Streams</h4>
<div ng-if="!hidestreams">
<div ng-repeat="node in bcdata.nodes" ng-click="open(node)" class="menu" ng-class="{'selected':selectednode.node==node.node}" >
{{node.name}}
</div>
</div>
