<!DOCTYPE html>
<html ng-app="Test">
<head>
<meta charset="utf-8">
<title>Angluar-xmpp Tutorial Example</title>
<script src="primus.js"></script>
<script src="angular-xmpp-0.0.2.js"></script>
<style type="text/css">
td{
vertical-align:top;
}
</style>
<script type="text/javascript" src="autotest.js"> </script>
</head>
<body ng-controller="test">
<div style="position:fixed;top:0px;left:0px;width:100%;padding:5px;box-shadow:1px 1px 1px black;background-color:white;">
<h3>Testcenter: XmppCore ({{counter  }}/{{expected.length}}/<span style="color:green">{{good}}</span>/<span style="color:red">{{bad}}</span>)</h3>
<!--
<button ng-click="next()">next</button>
-->
<button ng-click="login()">login</button>
<button ng-click="loadcoretest()">test core</button>
<button ng-click="loadbuddycloudtest()">test buddycloud</button>
</div>
<table style="width:100%;margin-top:100px;">
<tr>
<pre>
</pre>
<td ng-repeat="xmpp in xmpps" ng-init="rowIndex = $index">
<h3>{{xmpp.data.me.jid.user}}@{{xmpp.data.me.jid.domain}}</h3>
<div ng-repeat="item in check">
<h4>{{$index}}. {{item}} 
<span ng-if="allcommands[counter -1].checkresults[$index][item]" style="color:green">✓ </span>
<span ng-if="!allcommands[counter -1].checkresults[$index][item]" style="color:red">✖ </span>
</h4>
<div ng-click="toggle=!toggle">
<pre ng-if="toggle" style="color:blue">{{expected[counter][rowIndex][item]|json}}</pre>
<pre ng-if="!toggle">{{results[counter -1][rowIndex][item]|json}} </pre>
</div>
</div>

<h4>commands</h4>
<p ng-repeat="command in commands[$index] track by $index" ng-click="$parent.$parent.counter=command.i">
{{command.i +1}}: {{command.command}} 
<span style="color:green">{{command.good}}</span>
<span style="color:red">{{command.bad}}</span>
</p>
</td>
</tr>
</table>
<div ng-if="resultstring">
<h4>This is the automatic generated testfile</h4>
<textarea ng-model="resultstring" style="width:100%;height:300px"></textarea>
</div>

<h1>Automatic testing</h1>
<p>This is an automatic test client for angular-xmpp. It works with 3 accounts and sends commands to the websocket. After sending the command if waits for ~2 seconds, tests the angular-xmpp state and then sends the next command.</p>
<p>When the test is finished, all created data should be removed from server. If you cancel a test, there will be remaining data on the server and the next test can nor succeed. If you see an error, please wait until the testrun is finished and then start again.</p>
<h2>Possible Problems</h2>
This Test system works with real accounts. The accounts should be in the same state as after creating the account. If not, the tests WILL FAIL.

<h2>Creating new tests</h2>

The testfiles are very big and it's not really possible to generate by hand. The purpose is to keep the API consistent. The testfiles (expected.json) can be generated automaticaliy (textarea)

</body>
</html>
