<div id="bottomchat" >
  <div class="minichat"  ng-repeat="user in chatwindows" title="{{ user.jid }}"  >
    <div ng-if="user.style=='max'">
        <div class="title" ng-click="minify(user.jid)"><p>{{user.fromname}}</p><span class="close" ng-click="close(user.jid)">×</span></div>
            <div class="messages" scroll-glue>
                <div  ng-repeat="message in messages" >
                    <div ng-if="message.from.jid==user.jid">
                        <img ng-src="icons/avatars/{{message.from.user}}.png" />
                        {{message.content}}
                    </div>
                    <div ng-if="message.to==user.jid">
                        <img ng-src="icons/avatars/{{me}}.png" />
                        {{message.content}}
                    </div>
                </div>
            <div id="bottom_{{user.name}}"> </div>
            </div>

        <form ng-submit="send(user,$event)">
        <input ng-model="user.newtext"/>
        </form>
      </div>
    <div ng-if="user.style=='min'" ng-click="open(user.jid)" class="min">
    {{user.name}}<span class="close" ng-click="close(user.jid)">×</span>
    </div>
    </div>
</div>

