<!DOCTYPE html>
<html lang="en" class=" js history csstransforms csstransforms3d fontface localstorage" ng-app="XmppApp" ng-controller="page">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title ng-if="chat.notifications.unreadmessages">({{chat.notifications.unreadmessages}}) Buddycloud</title>
    <title ng-if="!chat.notifications.unreadmessages">Buddycloud</title>
    <meta charset="utf-8">
    <link href="assets/css/markdown.css" rel="stylesheet"></link>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script type="text/javascript" src="https://laos.buddycloud.com/api/primus/primus.js"></script>
<!--
    <script type="text/javascript" src="assets/scripts/primus.js"></script>
    <script src="../../angular-xmpp-services/bin/assets/angular-xmpp-services.js"></script>
-->

    <!-- compiled CSS -->
    <% styles.forEach( function ( file ) { %>
        <link rel="stylesheet" type="text/css" href="<%= file %>" />
        <% }); %>
    <!-- compiled JavaScript -->
    <% scripts.forEach( function ( file ) { %>
        <script type="text/javascript" src="<%= file %>"></script>
        <% }); %>

    <link rel="stylesheet" href="assets/css/style.css" type="text/css" media="screen"/>

</head>

<body>
<div class="container">
    <xmpp althost="https://laos.buddycloud.com/" xhost="http://localhost:3000" host="http://datenkueche.com:3002" defaultdomain="laos.buddycloud.com" xanonymous="'true'">
        <buddycloud node="node" class="row">
            <div ng-include="'navbar/template.tpl.html'"></div>
            <xmppminichat oninit="initchat(scope)"></xmppminichat>
<br/>
<br/>
            <div  class="col-md-2">
                <xmpproster onopenchat="openchat(jid)"></xmpproster>
                <buddycloud-nodelist onnodechange="setnode(node)"></buddycloud-nodelist>
            </div>
            <buddycloud-stream class="col-md-7" onnodechange="setnode(node)"></buddycloud-stream>
            <div class="col-md-3" ng-if="node!='recent'">
                <button ng-show="!showaffiliations" class="btn btn-xs btn-default" ng-click="showaffiliations=true">Show Affiliations</button>
                <button ng-show="showaffiliations" class="btn btn-xs btn-default" ng-click="showaffiliations=false">Hide Affiliations</button>
                <buddycloud-affiliations ng-if="showaffiliations" onnodechange="setnode(node)" onopenchat="openchat(jid)"></buddycloud-affiliations>
            </div>
        </buddycloud>
    </xmpp>
</div>
</body>

</html>
