<span class="dropdown" dropdown>
<h5 >Contacts <span class="glyphicon glyphicon-collapse-down pull-right dropdown-toggle" dropdown-toggle aria-hidden="true" ng-click="status.isOpen=true"></span>
</h5>
<div class="dropdown-menu" dropdown-menu style="padding:10px;width:200px">
    <button ng-show="!showofflinecontacts" class="btn btn-default" ng-click="showofflinecontacts=true">show offline contacts</button>
    <button ng-show="showofflinecontacts" class="btn btn-success" ng-click="showofflinecontacts=false">hide offline contacts</button>
    
    <form ng-submit="addContact(newcontact)">
         <div class="form-group">
            <label for="exampleInputEmail1">add contact</label>
            <input ng-model="newcontact" type="email" class="form-control" id="exampleInputEmail1" placeholder="jid@example.com">
          </div>
    </form>
</div>
</span>
<div class="list-group">
    <div ng-if="item.presence || showofflinecontacts" ng-repeat="item in xmpp.data.roster" class="nodelist" ng-click="openchat(item.jid)">
        <div class="avatar" style="background-image: url('{{item.jid|gravatar}}')" title="{{item.node}}">
            <a ng-href class="item">{{item.jid.user}}@{{item.jid.domain}}</a>
            <span class="counter pull-right">{{messagecount(item.jid)}}</span>

        </div>
    </div>
</div>
