.notification{
    padding:4px;
    h4{
        margin:0px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; // This is where the magic happens
        color:black;
    }
    p{
        margin:0px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; // This is where the magic happens
        color:black;
    }

}
