<a ng-show="xmpp.messages.unread" ng-href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{xmpp.messages.unread}} <span class="glyphicon glyphicon-comment" aria-hidden="true"></span></span></a>
<div class="dropdown-menu notification">
    <div ng-repeat="(key,item) in xmpp.messages.topmessages" ng-click="openchat(item.from)" ng-if="item.from" >
        <div class="avatar" avatar="item.from" title="{{item.from}}"></div>
        <h4 >{{item.from.jid}} <span class="badge">{{xmpp.messages.byjid[item.from.jid].unread}}</span></h4>
        <p>{{item.content}}</p>
    </div>
</div>

