<div id="bottomchat" >
  <div class="minichat"  ng-repeat="user in chatwindows" title="{{ user.jid }}"  >
    <div ng-if="user.style=='max'">
        <div class="title" ng-click="minify(user)"><p>{{user.name}} </p><span class="close" ng-click="close(user)">×</span></div>
            <div class="messages" scroll-glue>
                <div  ng-repeat="message in messages" >
                    <div ng-if="message.from.jid==user.jid">
                        <img ng-src="assets/icons/avatars/{{message.from.user}}.png" />
                        {{message.content}}
                    </div>
                    <div ng-if="message.to==user.jid">
                        <img ng-src="assets/icons/avatars/{{me}}.png" />
                        {{message.content}}
                    </div>
                </div>
                <div  ng-show="notifications.composing[user.jid]"> typing ...</div>
            <div id="bottom_{{user.name}}"> </div>
            </div>

        <form ng-submit="send(user,$event)">
        <input ng-model="user.newtext" onload="console.log(999)"/>
        </form>
      </div>
    <div ng-if="user.style=='min'" ng-click="makebig(user)" class="min">
    {{user.name}}

    <span class="close" ng-click="close(user)">×</span>
    </div>
    </div>
</div>

