<div>
    <div ng-show="bc.data.currentnode=='recent'">
        <h3 style="margin-top:0px;">Personal stream</h3>
    </div>
    <!-- node header -->
    <div ng-show="bc.data.currentnode!=='recent'">
        <div class="panel panel-default">
            <div class="row panel-body">
                <div class="col-md-2 col-xs-3">
                    <div class="avatar big" avatar="bc.data.currentnode"></div>
                </div>
                <div class="flex titleText col-md-7 col-xs-6">
                    <h4 class="owner">{{bc.data.configobj['pubsub#title']}}</h4>
                    <div class="about">{{bc.data.configobj['pubsub#description']}}</div>
                </div>
                <!-- buttons -->
                <div class="col-md-3 col-xs-3" style="text-align:right" ng-if="bc.data.requested!=bc.data.currentnode">
                    <button class="btn btn-xs btn-success  actionbutton" tyle="width:100%" ng-click="createNode();">create node</button>
                </div>
                <div class="col-md-3 col-xs-3" style="text-align:right" ng-if="bc.data.requested==bc.data.currentnode">


                    <button class="btn btn-xs btn-success  actionbutton" tyle="width:100%" ng-show="bc.unsubscribe" ng-click="bc.unsubscribe({node:node});">unfollow</button>
                    <button class="btn btn-xs btn-default  actionbutton" tyle="width:100%" ng-show="bc.subscribe" ng-click="bc.subscribe({node:node});">follow</button>
                    <button class="btn btn-xs btn-default  actionbutton" tyle="width:100%" ng-show="bc.config" ng-click="$parent.showconfigform=!$parent.showconfigform">config</button>
                    <span ng-switch="readContact()" title="{{readContact()}}" ng-show="bc.data.configobj['buddycloud#channel_type']=='personal'">
                    <button ng-switch-default class="btn btn-xs btn-xs btn-default actionbutton" ng-click="addContact(bc.data.configobj['pubsub#owner'])">add contact </button>
                    <button ng-switch-when="from" class="btn btn-xs btn-xs btn-default actionbutton" ng-click="confirmContact(bc.data.configobj['pubsub#owner'])">resend request</button>
                    <button ng-switch-when="to" class="btn btn-xs btn-xs btn-warning actionbutton"  ng-click="addContact(bc.data.configobj['pubsub#owner'])">confirm</button>
                    <button ng-switch-when="both" class="btn btn-xs btn-xs btn-success actionbutton"  ng-click="removeContact(bc.data.configobj['pubsub#owner'])">remove contact </button>
                    <button ng-switch-when="ask" class="btn btn-xs btn-xs btn-default actionbutton"  ng-click="addContact(bc.data.configobj['pubsub#owner'])">add</button>
                    </span>

                </div>
            </div>
        </div>
    </div>


    <!-- config form -->
    <div class="thediv" ng-if="showconfigform" style="position:relative;height:1300px">
        <h2>Node Configuration</h2>
        <a href="https://github.com/buddycloud/buddycloud-server-java/issues/301">issues/301</a>
        <xmppform formdata="bc.data.config" onclose="$parent.showconfigform=false" onsave="setConfig"></xmppform>
        <hr>
        <button ng-click="bc.deleteNode({node:bc.data.currentnode})">delete node</button>
    </div>




    <!-- posting area-->
    <div ng-show="bc.publish && !showconfigform" class="animate-show">
        <form ng-submit="bc.publish(content);content.atom.content=''">
            <textarea ng-model="content.atom.content" class="form-control big" g-model-options="{debounce: 1000}" placeholder="write something ..."></textarea>
            <input class="btn btn-default" type="submit"></input>
            <button class="btn pull-right"   ngf-select ngf-multiple="true" ng-model="files" ng-click="triggerUpload()"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span></button>
        </form>
        <buddycloud-post text="content.atom.content"></buddycloud-post>
    </div>
<!--
<pre>
{{uploaded|json}}
</pre>
            <div ng-repeat="item in uploaded">https://buddycloud.org/api/{{item.entityId}}/media/{{item.id}}<div/>
-->
            <img ng-repeat="item in uploaded" ng-src="https://buddycloud.org/api/{{item.entityId}}/media/{{item.id}}" style="height:100px;margin:5px"/>
<br/>
                <button class="btn btn-link " title="show likes" ng-click="ratecount()">show likes (beta)</button>
    <br/>
    <br/>

    <!-- outer loop -->
    <div ng-if="!showconfigform">
        <div ng-repeat="item in bc.data.tree" class="panel panel-default repeat-item">
            <div class="panel-heading">
                <div class="avatar" size="24" style="float:left;" avatar="item.entry.atom.author.name" title="{{item.entry.atom.author.name}}"></div>
                <button class="btn btn-link pull-right closebutton" title="Delete Post" ng-if="item.remove" ng-click="item.remove()">✖</button>
                <button class="btn btn-link pull-right closebutton" title="Like Post" ng-click="rate(item)">
                    <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                    <span ng-if="item.ratecount"> {{item.ratecount}}</span>
                </button>
                <span class="date pull-right" am-time-ago="item.entry.atom.published"></span>

                <div class="jid"><span class="author" ng-click="opennode({node:'/user/'+item.entry.atom.author.name+'/posts'})">{{item.entry.atom.author.name}}</span>  <span ng-if="bc.data.currentnode=='recent'" ng-click="opennode({node:item.node})">⇒   {{item.node}}</span>
                </div>

            </div>
            <div class="panel-body">
                <p ng-bind-html="item.entry.atom.content.content|linky:'_blank'"></p>
            </div>

            <buddycloud-post text="item.entry.atom.content.content"></buddycloud-post>
            <buddycloud-media ng-repeat="media in item.entry.media" metadata="https://buddycloud.org/api/{{item.entry.atom.author.name}}/media/{{media}}/metadata"></buddycloud-media>

            <!-- inner loop -->
            <div class="row repeat-item">
                <div ng-if="item.rsm.count > item.children.length">
                    <div class="col-md-1 col-xs-1">
                    </div>
                    <div class="col-md-11 col-xs-11">
                        <br/>
                        <a ng-href ng-click="loadMoreReplies(item.node,item.id,item.rsm.first)">View previous comments</a>(1..{{item.rsm.count - item.children.length }}/{{item.rsm.count}})
                    </div>
                </div>
                <div ng-repeat="subitem in item.children | orderBy:'entry.atom.published':false">
                    <div class="col-md-1 col-xs-1">
                    </div>
                    <div class="col-md-11 col-xs-11">
                        <div class="avatar" style="float:left;" avatar="subitem.entry.atom.author.name" title="{{subitem.entry.atom.author.name}}"></div>
                        <button class="btn btn-link pull-right closebutton" title="Delete Post" ng-if="subitem.remove" ng-click="subitem.remove()">✖</button>
                        <div class="jid"><span class="author" ng-click="opennode({node:'/user/'+subitem.entry.atom.author.name+'/posts'})">{{subitem.entry.atom.author.name}}</span>  <span class="date pull-right" am-time-ago="subitem.entry.atom.published"></span>
                        </div>

                        <p ng-bind-html="subitem.entry.atom.content.content|linky:'_blank'"></p>
                    </div>

                </div>
            </div>
            <div class="row" ng-if="item.reply">
                <div class="col-md-1 col-xs-1">
                </div>
                <div class="col-md-11 col-xs-11">
                    <!-- reply-->
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-1 col-xs-1">
                                <div class="avatar" avatar="bc.xmpp.data.me.jid" title="{{xmpp.data.me.jid|json}}"></div>
                            </div>

                            <div class="col-md-10 col-xs-10" style="text-align:left">
                                <textarea ng-model="input.text" ng-keyup="reply($event,item,input)" g-keyup="if($event.keyCode == 13) {item.reply(subtext);subtext=''} " placeholder="comment"></textarea>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


