<div style="background-color:white;width:100%;padding:20px">
<button class="btn btn-succes pullright"  ng-click="$parent.$parent.page='main'">back</button>
<br/>
<br/>
<br/>

<h1>Settings</h1>
click on image to upload a new image. {{avatar}} {{bc.xmpp.data.me.jid}}
<div class="button" ngf-select ng-model="files">
<div class="avatar" avatar="avatar" size="200" style="width:200px" ng-click="triggerUpload()"></div>
</div>
<!--
<input type="file" ng-file-select="uploadImage($files)" style="display:none" id="fileInput" name="data"/>
-->

<!--
{{bc.xmpp.model.credentials.request|json}}
{{bc.xmpp.model.credentials.request}}
<pre>{{bc.xmpp.model|json}}</pre>
-->

</div>
